/* Modal Content/Box */
#modal {
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border: 3px solid black;
  width: 50%;
  height: 50%;
  background-color: #e0e0e0;
  border-radius: 10px;
  z-index: 2;
  color: black;
  padding: 10px;
  padding-bottom: 15px;
  display: none;
  text-align: center;
  overflow: auto;
}

#content {
  height: 100%;
  width: 100%;
}
/* The Close Button */
#close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fancy-btn {
  color: black;
  background: #f2f2f2;
  font-weight: bold;
  border: 1px solid #127a20;
  width: 200px;
  min-height: 20px;
  transition: all 0.2s linear;
  cursor: pointer;
  border-radius: 4px;
  font-size: 13px;
  vertical-align: top;
}

.fancy-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.fancy-btn:not(.fancy-btn:disabled):hover {
  color: #ffffff;
  background: #5ac467;
}