.row {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.redText {
  color: red;
}
.greenText {
  color: green;
}
/* for frozen counts */
.freezeText {
  color: blue;
}
/* for counts that stun */
.stunText {
  color: yellow;
}
.center {
  text-align: center;
}
