* {
  font-size: 15px;
  box-sizing: border-box;
}

.channel {
  width: 100%;
  font-size: 20px;
  margin: 0, 2px;
  padding-left: 16px;
  white-space: nowrap;
}
.channel:hover {
  /* example */
  background-color: #a7a7bf;
  border-radius: 2px;
}

.label {
  /* nah it's fine we all make mistakes  */
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  width: 100%;
  position: relative;
  display: block;
  overflow: hidden;
  padding-left: 16px;
}
.label:before {
  margin-left: 2px;
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 12px;
  border-color: transparent transparent transparent grey;
  transition: all 0.2s ease-in;
}

.content {
  /* Height animation:
  only really works well if the height is close to content - too high and the animation still goes to the max-height number, 
  messing up the timing. For widely variable height content, best not to animate. Switch display attribute instead */
  height: 0;
  overflow: hidden;
}

.control {
  display: none;
}
.control:checked + .label:before {
  transform: rotate(90deg);
}
.control:checked + .label + .content {
  height: fit-content;
}
